<div class="container">


	<form editable-form name="editableForm" onaftersave="saveUser()" no-validate>
		<div class="form-group">
			<label for="username">Username</label>
			<div editable-text="userFormModel.username" e-name="username" buttons="yes" e-required>{{userFormModel.username || 'Required'}}</div>
		</div>

		<div class="form-group">
			<label for="role">User Role</label>
			<div editable-select="userFormModel.role" buttons="yes" e-name="role" editable-required e-ng-options="value for value in availableTypes">{{userFormModel.role || 'Required'}}</div>
		</div>


		<div ng-show="editableForm.$visible">
			<button type="submit" id="btn-add" class="btn btn-primary btn-lg" ng-disabled="editableForm.$waiting">
				<span class="glyphicon glyphicon-save"></span> Save
			</button>
			<button type="button" id="btn-add" ng-click="cancelUserEdit()" class="btn btn-danger btn-lg"  ng-disabled="editableForm.$waiting">
				<span class="glyphicon glyphicon-cross"></span> Cancel
			</button>
		</div>
	
	</form>

	<div ng-hide="editableForm.$visible">
		<button id="btn-add" ng-click="editableForm.$show()" class="btn btn-primary btn-lg">
			<span class="glyphicon glyphicon-edit"></span> Edit
		</button>
	</div>

<hr>


	<div><contact-widget ng-model="contact"></contact-widget></div>
	


</div>
