
<select ng-options="item[bsValuedisplay.value] as item[bsValuedisplay.display] for item in bsolListdata" class="form-control" ng-model="ngModel" ng-blur="ngBlur({$event: $event})" ng-change="onItemSelect($event)" class="form-control" ng-name="data-select">
</select>

<div editable-select="ngModel" buttons="yes" e-name="category" editable-required e-ng-options="item.id as item.description for item in bsolListdata" ng-blur="ngBlur({$event: $event})" ng-change="onItemSelect($event)">{{ngModel}}</div>

