
<div class="bsol_list_edit">
	<h2>Edit</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>

		<tr ng-repeat="row in bsolListModel" class="bs_row">
			<form name="editForm" class="form">
			<td>
				<input type="text" ng-model="row.description" ng-blur="onFieldBlur($event, row, editForm)" class="form-control">
			</td>
			<td>
				<button type="button" ng-click="onRemoveClick($event, row)" class="btn btn-danger btn-sm" tooltip="Remove" tooltip-placement="top">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
			</form>
		</tr>

		<tr class="bs_row">
			<form name="newForm">
			<td>
				<input type="text" ng-model="newItem.description" class="form-control" required>
			</td>
			<td>
				<button type="button" ng-click="onAddClick($event)" class="btn btn-primary btn-sm" tooltip="Save new" tooltip-placement="top">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</td>
			</form>
		</tr>
		</tbody>
	</table>
</div>
	