<div>
	<table class="table table-hover">
		<thead>
		<tr>
			<th ng-repeat="key in bsolListtitles">{{key}}</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in bsolListdata" class="bs_row"  ng-click="onDetailClick($event, row)">
			<td	ng-repeat="key in bsolListkeys">
				{{row[key]}}
			</td>
			<td>
				<button type="button" ng-click="onRemoveClick($event, row)" class="btn btn-danger btn-sm" tooltip="Remove {{bsListname}}" tooltip-placement="top">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>





