
<div class="navbar navbar-default navbar-static-top" ng-controller="SessionController" role="navigation">

        <div class="navbar-header">
            <button class="navbar-toggle" ng-click="navbar_isCollapsed = !navbar_isCollapsed">
            	<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </button> 

            
			<div ng-hide="getOrgId()" class="navbar-brand"><a ui-sref="front()"><img ng-src="images/tvur-logo.png" class="img-responsive bsol-small"></a></div>
			<div ng-show="getOrgId()" class="navbar-brand"><a ui-sref="organisation_home({organisation_id:getOrgId()})"><img ng-src="images/organisations/{{getOrgId()}}-logo.png" class="img-responsive bsol-small"></a></div>
		</div>

        <div class="collapse navbar-collapse" collapse="navbar_isCollapsed">


            <ul class="nav navbar-nav" ng-show="getOrgId()">
                
                <li><a ui-sref="event_list({organisation_id:getOrgId()})">Events</a></li>
                <li><a ui-sref="contact_list({organisation_id:getOrgId()})">Contacts</a></li>
                <li><a ui-sref="staff_list({organisation_id:getOrgId()})">Staff</a></li>

            </ul>

            <div class="navbar-form navbar-right" name="login" ng-show="!user">
				<form name="loginForm" class="form-inline" role="login">
				<div class="form-group">
					<input type="text" ng-model="loginFormModel.username" name="username" placeholder="Username" class="form-control"  required>
				</div>
				<div class="form-group">
					<input type="password" ng-model="loginFormModel.password" name="password" placeholder="Password" class="form-control" required>
				</div>
				<div class="form-group">
					<button ng-click="onLoginClick()" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-user"></span>Login
					</button>
				</div>
				</form>
			</div>

			<div class="navbar-form navbar-right dropdown" name="logout" ng-show="user">
				<button class="btn btn-primary btn-sm dropdown-toggle">	
					<span class="glyphicon glyphicon-user"></span> {{contact.preferedName || contact.firstName}}
				</button>
				<ul class="dropdown-menu">
			    	
			    	<li><a ng-click="onAccountSettingsClick($event)">Account Settings</a></li>
			    	<li><a ng-click="onOrgSettingsClick($event)">Organisation Settings</a></li>
			    	<li class="divider"></li>
			    	<li><a ng-click="onLogoutClick($event)">Sign Out</a></li>

			  	</ul>
				
			</div>

			<div class="bs_loading" ng-show="loading">
        		<div class="bs_loading-spinner">Loading...</div>
    		</div>



        </div>
        <!-- /.nav-collapse -->


</div>

