<div class="">
	<button type="button" ng-click="add($event)" class="btn btn-primary btn-sm" tooltip="Add Contact" tooltip-placement="top">
		<span class="glyphicon glyphicon-plus"></span>
	</button>

	<button type="button" ng-click="remove($event)" class="btn btn-danger btn-sm" tooltip="Remove Selected" tooltip-placement="top">
		<span class="glyphicon glyphicon-remove"></span>
	</button>

	<bsol-loading ng-model="datastore.loading"></bsol-loading>

	<div ui-grid="gridOptions" ui-grid-edit ui-grid-selection class="grid-standard" external-scopes="gridScope"></div>
</div>