
<select ng-options="item[bsValuedisplay.value] as item[bsValuedisplay.display] for item in bsListdata" class="form-control" ng-model="ngModel" ng-blur="ngBlur({$event: $event})" ng-change="onItemSelect($event)" class="form-control" ng-name="data-select">
</select>


<!--
<ul class="dropdown-menu bs_dropdown">
	<li ng-repeat="item in bsListdata">
	  <a ng-click="onItemClick($event, item)">{{item.description}}</a>
	</li>
	<li>
	  <a ng-click="onEditClick($event)">Edit List</a>
	</li>
</ul>
<div class="dropdown-toggle bs_dropdown">
    {{ngModel | listDescription:bsListdata}}
</div>
-->