
<div class="bs_list_edit">
	<h2>Edit {{bsListname}} List</h2>
	<table class="table">
		<thead>
		<tr>
			<th ng-repeat="key in bsListkeys">{{key}}</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>

		<tr ng-repeat="row in bsListdata" class="bs_row">
			<form name="editForm" class="form">
			<td	ng-repeat="key in bsListkeys">
				<input type="text" ng-model="row[key]" ng-blur="onFieldBlur($event, row, editForm)" class="form-control">
			</td>
			<td>
				<button type="button" ng-click="onRemoveClick($event, row)" class="btn btn-danger btn-sm" tooltip="Remove {{bsListname}}" tooltip-placement="top">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
			</form>
		</tr>

		<tr class="bs_row">
			<form name="newForm">
			<td	ng-repeat="key in bsListkeys">
				<input type="text" ng-model="newItem[key]" class="form-control" required>
			</td>
			<td>
				<button type="button" ng-click="onAddClick($event)" class="btn btn-primary btn-sm" tooltip="Save new {{bsListname}}" tooltip-placement="top">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</td>
			</form>
		</tr>
		</tbody>
	</table>
</div>
	