<!--
    This file is part of TKD Score Web.
    Copyright 2015 Mick Crozier

    TKD Score Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TKD Score Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TKD Score Web.  If not, see <http://www.gnu.org/licenses/>.
-->

 
<div class="scoreboard" name="main">

		<div id="chongscore" class="scoreboard-left">
			<div id="chongName"  class="scoreboard-player" ng-bind="scoreboardVm.mat.player1"></div>
			<div id="chongScore" highlight-on-change="scoreboard-score-highlight" class="scoreboard-score" ng-bind="scoreboardVm.mat.player1Points"></div>
			<div id="chongPenalty" class="scoreboard-penalty" ng-bind-html="scoreboardVm.mat.player1Penalties | formatPenalties"></div>
			
			<div class="scoreboard-judge-left" ng-show="scoreboardVm.mat.showIndicators">
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[1][0]" ng-show="scoreboardVm.mat.judge1"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[1][1]" ng-show="scoreboardVm.mat.judge2"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[1][2]" ng-show="scoreboardVm.mat.judge3"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[1][3]" ng-show="scoreboardVm.mat.judge4"></div>
			</div>
		</div>
		<div id="hongscore" class="scoreboard-right">
			<div id="hongName"  class="scoreboard-player" ng-bind="scoreboardVm.mat.player2"></div>
			<div highlight-on-change="scoreboard-score-highlight" id="hongScore"  class="scoreboard-score" ng-bind="scoreboardVm.mat.player2Points"></div>

			<div id="hongPenalty" class="scoreboard-penalty" ng-bind-html="mat.player2Penalties | formatPenalties">
			</div>

			<div class="scoreboard-judge-right" ng-show="scoreboardVm.mat.showIndicators">
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[2][0]" ng-show="scoreboardVm.mat.judge1"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[2][1]"  ng-show="scoreboardVm.mat.judge2"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[2][2]"  ng-show="scoreboardVm.mat.judge3"></div>
				<div class="scoreboard-judge-indicator" ng-bind="scoreboardVm.judgeIndicator[2][3]"  ng-show="scoreboardVm.mat.judge4"></div>
			</div>
		</div>	

	
	<div style="position:absolute;width:98.3%; top:0;">
		<div id="displayinfo" class="scoreboard-info">
			<div id="round" class="scoreboard-round">Round {{scoreboardVm.mat.round}}</div>
			<div id="roundclock"  class="scoreboard-round-timer" ng-bind="scoreboardVm.timer.roundTimeMS | formatTime:true">00:00</div>
		</div>

 		<div id="breakclock" class="scoreboard-break-timer" ng-bind="scoreboardVm.timer.breakTimeMS | formatTime:true" ng-show="scoreboardVm.timer.breakTimeMS < scoreboardVm.mat.breakLengthMS">
		</div>

		<div id="pauseclock" class="scoreboard-pause-timer" ng-bind="scoreboardVm.timer.pauseWatchMS | formatTime:false" ng-show="scoreboardVm.timer.pauseWatchMS > 0">
		</div>
	</div>

	<div style="position:absolute; width:100%; bottom:10%">
		<div id="displaylogo" class="scoreboard-logo">
		</div>
	</div>

	<div id="displaywinner" class="scoreboard-winner" ng-show="scoreboardVm.mat.winner">
		<div id="winnerText" class="blink">
		Winner {{(scoreboardVm.mat.winner == 1 ? scoreboardVm.mat.player1 : scoreboardVm.mat.player2)}}
		</div>
	</div>

</div>

