<!--
    This file is part of TKD Score Web.
    Copyright 2015 Mick Crozier

    TKD Score Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TKD Score Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TKD Score Web.  If not, see <http://www.gnu.org/licenses/>.
-->

 
<div class="scoreboard-mini">
	<div class="row">
		<div class="col-xs-4 scoreboard-break-timer">
			<div ng-show="scoreboardVm.timer.breakTimeMS < scoreboardVm.mat.breakLengthMS * 1000" ng-bind="scoreboardVm.timer.breakTimeMS | formatTime:true">
			</div>
		</div>

		<div class="col-xs-4 scoreboard-round-timer" ng-bind="scoreboardVm.timer.roundTimeMS | formatTime:true">

		</div>

		<div class="col-xs-4 scoreboard-pause-timer" ng-show="scoreboardVm.timer.pauseWatchMS > 0" ng-bind="scoreboardVm.timer.pauseWatchMS | formatTime:false">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-5 scoreboard-penalty" ng-bind-html="scoreboardVm.mat.player1Penalties | formatPenalties">
		</div>

		<div class="col-xs-2 scoreboard-round">
			R{{scoreboardVm.mat.round}}
		</div>

		<div class="col-xs-5 scoreboard-penalty" ng-bind-html="scoreboardVm.mat.player2Penalties | formatPenalties">
		</div>
	</div>

	<div class="row" style="height:100%">
		<div class="col-xs-6 scoreboard-left scoreboard-score" ng-bind="scoreboardVm.mat.player1Points">
		</div>

		<div class="col-xs-6 scoreboard-right scoreboard-score" ng-bind="scoreboardVm.mat.player2Points">
		</div>
	</div>

	<div id="displaywinner" class="scoreboard-winner" ng-show="scoreboardVm.mat.winner">
		<div id="winnerText" class="blink">
		Winner {{(scoreboardVm.mat.winner == 1 ? scoreboardVm.mat.player1 : scoreboardVm.mat.player2)}}
		</div>
	</div>
</div>
