<!--
    This file is part of TKD Score Web.
    Copyright 2015 Mick Crozier

    TKD Score Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TKD Score Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TKD Score Web.  If not, see <http://www.gnu.org/licenses/>.
-->

<h1>TKD Score</h1>

<button type="button" class="btn btn-lg btn-primary" ng-click="matListVm.newMat()">New Mat</button>
<div class="container-fluid">

	<table class="table table-hover">
	<thead>
		<tr>
			<th>Mat Number</th>
			<th>Hong</th>
			<th>Chong</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in matListVm.mates" ng-click="matListVm.openEdit(row); $event.stopPropagation();">
			<td>
				{{row.number}}
			</td>
			<td>	
				{{row.player1}}
			</td>
			<td>	
				{{row.player2}}
			</td>
			<td>
				
				<button ng-click="matListVm.gotoMaster(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip="Mat Controller" tooltip-placement="top">
				<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<button ng-click="matListVm.gotoScoreboard(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip-placement="top">
				<span class="glyphicon glyphicon-eye-open"  tooltip="Scoreboard"></span>
				</button>
				<button ng-click="matListVm.gotoJudge(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip="Judge Score Controller" tooltip-placement="top">
				<span class="glyphicon glyphicon-hand-up"></span>
				</button>

				<button ng-click="matListVm.destroy(row); $event.stopPropagation();" class="btn btn-danger btn-md" tooltip="Delete mat" tooltip-placement="top">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
	</table>
</div>

