 
<button class="btn btn-lg" ng-click="addRole()">New</button>
<button class="btn btn-lg" ng-click="gotoMasterlist()">Master list</button>
<div class="row">
	<div class="col-sm-3">Callsign</div><div class="col-sm-7">Name</div><div class="col-sm-1">G</div><div class="col-sm-1">X</div>
</div>

<div ng-repeat="role in roles" class="row">

		<input type="text" ng-model="role.callsign" name="callsign" class="col-sm-3" ng-blur="role.$save()" ng-required ng-maxlength="4">

		<input type="text" ng-model="role.name" name="name" class="col-sm-7" ng-blur="role.$save()" ng-required >

	<button class="btn btn-sm" ng-click="gotoCuelist(role)" class="col-sm-1">G</button>
	<button class="btn btn-sm" ng-click="deleteRole(role)" class="col-sm-1">X</button>
</div>

		


	