<!--
    This file is part of TKD Score Web.
    Copyright 2015 Mick Crozier

    TKD Score Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TKD Score Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TKD Score Web.  If not, see <http://www.gnu.org/licenses/>.
-->

	



	<div class="row">
		<div class="col-sm-6">
			Mat Number
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.number" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.player1" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Chong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.player2" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Rounds
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.numberOfRounds" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Round Time (sec)
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.roundLengthMS" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Break Time (sec)
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.breakLengthMS" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Num Judges Agree
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.agree" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judge Score Timeout (ms)
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.scoreTimeout" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Show Judge Indicators
		</div>
		<div class="col-sm-6">
			<input type="checkbox" aria-label="..." class="checkbox" ng-model="matEditorVm.mat.showIndicators" ng-change="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judges double tap for turning
		</div>
		<div class="col-sm-6">
			<input type="checkbox" aria-label="..." class="checkbox" ng-model="matEditorVm.mat.judgeTurning" ng-change="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Novice Match (no head kicks)
		</div>
		<div class="col-xs-1">
			<input type="checkbox" aria-label="..." class="checkbox" ng-model="matEditorVm.mat.novice" ng-change="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Sound 10 sec end break warning
		</div>
		<div class="col-xs-1">
			<input type="checkbox" aria-label="..." class="checkbox" ng-model="matEditorVm.mat.endBreakHorn" ng-change="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Points (HT, H, BT, B)
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsHeadTurning" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsHead" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsBodyTurning" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsBody" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judges
		</div>

		<div class="col-xs-2" ng-hide="matEditorVm.mat.judge1 || matEditorVm.mat.judge2 || matEditorVm.mat.judge3 || matEditorVm.mat.judge4">
			No Judges
		</div>

		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge1">
				1 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(1)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge2">
				2 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(2)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge3">
				3 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(3)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge4">
				4 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(4)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>

	<button class="btn btn-lg btn-primary btn-block" ng-click="matEditorVm.save(); $parent.closeThisDialog()">Done</button>
	


	



