 

	

	<div class="row">
		<div class="col-sm-6">
			Mat ID
		</div>
		<div class="col-sm-6">
			{{matEditorVm.mat.id}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Mat Number
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.number" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.player1" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Chong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.player2" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Rounds
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.numberOfRounds" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Round Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.roundLengthMS" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Break Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.breakLengthMS" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Num Judges Agree
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.agree" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judge Score Timeout
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.scoreTimeout" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Show Judge Indicators
		</div>
		<div class="col-sm-6">
			<input type="checkbox" aria-label="..." class="btn btn-default" ng-model="matEditorVm.mat.showIndicators" ng-change="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Points (HT, H, BT, B)
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsHeadTurning" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsHead" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsBodyTurning" buttons="no" ng-blur="matEditorVm.save()">
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" ng-model="matEditorVm.mat.pointsBody" buttons="no" ng-blur="matEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judges
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge1">
				1 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(1)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge2">
				2 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(2)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge3">
				3 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(3)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		<div class="col-xs-1">
			<div ng-show="matEditorVm.mat.judge4">
				4 <button class="btn btn-danger btn-sm" ng-click="matEditorVm.removeJudge(4)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>

	<button class="btn btn-lg btn-primary btn-block" ng-click="matEditorVm.save(); $parent.closeThisDialog()">Save</button>
	


	



