 <div id="main" name="main" class="scoreboard-judge">
	<div id='scorechong'  class="scoreboard-left">
		<div id='scorechong-head' class="scoreboard-score-zone-top" ng-click="matJudgeVm.tap(1, 'head'); stopPropagation();" ng-hide="matJudgeVm.mat.novice">Head</div>
		<div id="scorechong-body" ng-class="{'scoreboard-score-zone-full':matJudgeVm.mat.novice, 'scoreboard-score-zone-bottom':!matJudgeVm.mat.novice}" ng-click="matJudgeVm.tap(1, 'body'); stopPropagation();">Body</div>
	</div>
	<div id='scorehong' class="scoreboard-right">
		<div id='scorehong-head' class="scoreboard-score-zone-top" ng-click="matJudgeVm.tap(2, 'head'); stopPropagation();" ng-hide="matJudgeVm.mat.novice">Head</div>
		<div id="scorehong-body" ng-class="{'scoreboard-score-zone-full':matJudgeVm.mat.novice, 'scoreboard-score-zone-bottom':!matJudgeVm.mat.novice}" ng-click="matJudgeVm.tap(2, 'body'); stopPropagation();">Body</div>
	</div>

	


	<div style="position:absolute;width:100%; top:0; pointer-events:none;">
		<div id="displaylogo" class="scoreboard-logo"></div>
	</div>

	<div class="notregistered-overlay" ng-hide="matJudgeVm.registered()">Device needs to be registered for mat {{matJudgeVm.mat.number}} <button class="btn btn-primary btn-sm btn-block" ng-click="matJudgeVm.register()">Register Now</button>
	</div>

	<div class="registered-overlay" ng-show="matJudgeVm.registered()" ng-bind="'Mat ' + matJudgeVm.mat.number + ' ' + matJudgeVm.registered()">
	</div>


</div>

