<!--
    This file is part of TKD Score Web.
    Copyright 2015 Mick Crozier

    TKD Score Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TKD Score Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TKD Score Web.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="controls">

  <div class="row">
    <div class="col-lg-12">
      <button type="button" ng-click="matControlsVm.pauseResume(); $event.stopPropagation();" class="btn btn-lg btn-block btn-warning">Start / Stop</button>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-1">
      <button type="button" ng-click="matControlsVm.points(1, -1); $event.stopPropagation();" class="btn btn-lg btn-block btn-hong">-</button>
    </div>
    <div class="col-xs-5">
      <button type="button" ng-click="matControlsVm.points(1, 1); $event.stopPropagation();" class="btn btn-lg btn-block btn-hong">Score +</button>
    </div>
    <div class="col-xs-5">
      <button type="button" ng-click="matControlsVm.points(2, 1); $event.stopPropagation();" class="btn btn-lg btn-block btn-chong">Score +</button>
    </div>
    <div class="col-xs-1">
      <button type="button" ng-click="matControlsVm.points(2, -1); $event.stopPropagation();" class="btn btn-lg btn-block btn-chong">-</button>
    </div>
    
  </div>


  <div class="row">
    <div class="col-xs-1">
      <button type="button" ng-click="matControlsVm.penalties(1, -1); $event.stopPropagation();" class="btn btn-lg btn-block btn-hong">-</button>
    </div>
    <div class="col-xs-5">
      <button type="button" ng-click="matControlsVm.penalties(1, 1); $event.stopPropagation();" class="btn btn-lg btn-block btn-hong">Penalty +</button>
    </div>
    <div class="col-xs-5">
      <button type="button" ng-click="matControlsVm.penalties(2, 1); $event.stopPropagation();" class="btn btn-lg btn-block btn-chong">Penalty +</button>
    </div>
    <div class="col-xs-1">
      <button type="button" ng-click="matControlsVm.penalties(2, -1); $event.stopPropagation();" class="btn btn-lg btn-block btn-chong">-</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <button type="button" ng-click="matControlsVm.registerTurn(); $event.stopPropagation();" class="btn btn-lg btn-block btn-warning">Register Turning Kick (space)</button>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <button type="button" ng-click="matControlsVm.soundHorn(); $event.stopPropagation();" class="btn btn-md btn-block btn-primary">Sound Horn</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <button type="button" ng-click="matControlsVm.changeRound(1); $event.stopPropagation();" class="btn btn-block btn-default">Round +</button>
    </div>
    <div class="col-xs-3">
      <button type="button" ng-click="matControlsVm.changeRound(-1); $event.stopPropagation();" class="btn btn-block btn-default">Round -</button>
    </div>

    <div class="col-xs-3">
      <button type="button" ng-click="matControlsVm.resetMat(); $event.stopPropagation();" class="btn btn-block btn-default">Reset</button>
    </div>
    <div class="col-xs-3">
      <button type="button" ng-click="matControlsVm.edit(); $event.stopPropagation();" class="btn btn-block btn-default">Edit</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6" ng-show="!matControlsVm.mat.winner">
      <button type="button" ng-click="matControlsVm.declareWinner(1); $event.stopPropagation();" class="btn btn-block btn-hong">Hong Su</button>
    </div>
    <div class="col-xs-6">
      <button type="button" ng-show="!matControlsVm.mat.winner" ng-click="matControlsVm.declareWinner(2); $event.stopPropagation();" class="btn btn-block btn-chong">Chong Su</button>
    </div>

    <div class="col-xs-12">
      <button type="button" ng-show="matControlsVm.mat.winner" ng-click="matControlsVm.declareWinner(0); $event.stopPropagation();" class="btn btn-block btn-default">Clear Winner</button>
    </div>

  </div>

</div>



