
@import "compass/css3/user-interface";
@import "compass/css3/images";
@import "compass/css3/text-shadow";

@mixin scoreboard-white-timer {
	@include background(linear-gradient(white, #777));
	color:black;
	text-align:center;
	@include text-shadow(#999 4px 4px 8px);

	box-shadow: 8px 8px 15px #000;
}





.controls {

	@include user-select(none);

	.btn-lg {
		height: 80px;
		margin: 2px 0;
	}
}

.scoreboard-mini {
	text-align: center;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-size: 20px;
	height: 40%;
	min-height:40%;
	@include user-select(none);
}

.scoreboard-mini .scoreboard-left {
	min-width:50%;
	background-color: red;
	float:left;
	text-align: left;
}

.scoreboard-mini .scoreboard-right {
	min-width:50%;
	background-color: blue;
	float:left;
	text-align: right;
}

.scoreboard-mini .scoreboard-info {
	margin: 10% auto;
	text-align: center;
}


.scoreboard-mini .scoreboard-break-timer {
	
	@include scoreboard-white-timer;
	margin: auto 0;
	
}

.scoreboard-mini .scoreboard-round-timer {

}


.scoreboard-mini .scoreboard-pause-timer {
	@include scoreboard-white-timer;
	margin: auto 0;
	color:red;
}

.scoreboard-mini .scoreboard-penalty {

}

.scoreboard-mini .scoreboard-round {

}

.scoreboard-mini .scoreboard-left {
	@include background(linear-gradient(red, black));

}

.scoreboard-mini .scoreboard-right {
	@include background(linear-gradient(blue, black));
}

.scoreboard-mini .scoreboard-score {
	text-align:center;
	font-size:50px;
	vertical-align:middle;
	margin-right:auto;
	margin-top:auto;
	text-shadow: 8px 8px 15px #000;
	position: relative;
}

.scoreboard-mini .scoreboard-mark {
	height: 40px;
	width: 30px;
}











.scoreboard {
	text-align: center;
	margin: auto 0;
	background: black;
	color: white;
	font-size: 20px;
	position:relative;
	min-height:100%;
	min-width:100%;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	@include user-select(none);
	pointer-events:none;
}



.scoreboard-judge {
	text-align: center;
	margin: auto 0;
	background: black;
	color: white;
	font-size: 20px;
	position:relative;
	min-height:100%;
	min-width:100%;
	width:100%;
	height:100vh;
	margin:0;
	padding:0;
	@include user-select(none);
}


.scoreboard .scoreboard-score-box{
	
	height:100%;
}

.scoreboard .scoreboard-left {
	@include background(linear-gradient(red, black));
	float:left;
	width:50%;
	min-height:100%;
	text-align:left;
}

.scoreboard .scoreboard-right {
	@include background(linear-gradient(blue, black));
	float:left;
	width:50%;
	min-height:100%;
	text-align:right;
}


.scoreboard .scoreboard-info {
  width: 25% ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 0 ;
  margin-bottom: 0 ;
  color:white;
  @include background(linear-gradient(black, #777));

  /*display:flex;*/
  text-align:center;
	top:-5;
	padding-top:1%;
	text-shadow: 4px 4px 8px #999;
	box-shadow: 8px 8px 15px #000;
}

.scoreboard .scoreboard-winner {
	
	padding-top:15%;
	margin-left: auto ;
  	margin-right: auto ;
  	text-shadow: 6px 6px 8px #333;
  	color:#fff;
	text-align:center;
	pointer-events:none;
	opacity:0;
	
	background:rgba(0,0,0,0.6);
	position:absolute;
	left:0;
	top:-10;
	width:100%;
	height:70%;
	
}

.scoreboard .scoreboard-logo {

	background-repeat: no-repeat;
	background-image:url("/web/images/displaylogo.png");
	margin-left: auto ;
  	margin-right: auto ;
  	pointer-events:none;
 
 	top:100%;
  	
}

.scoreboard .scoreboard-round {
	font-size:5vw;	
	width:100%;
}

.scoreboard .scoreboard-round-timer {
	font-size:60px;	
	font-size:8vw;
	width:100%;
}

.scoreboard .scoreboard-break-timer {
	@include scoreboard-white-timer;
	font-size: 6vw;
	margin: 2vh auto;
	width: 25% ;
	height: 20%;
}


.scoreboard .scoreboard-pause-timer {
 	@include scoreboard-white-timer;
 	font-size: 6vw;
 	color: red;
 	margin: 2vh auto;
 	width: 25% ;
	height: 20%;
}


.scoreboard .scoreboard-judge-left {
	width: 50px;
	
	text-align: centre;
	position: absolute;
	left: 45%;
	top: 20vw;
}


.scoreboard .scoreboard-judge-right {
	width: 50px;
	
	text-align: centre;
	position: absolute;
	right: 45%;
	top: 20vw;
	//left: 20px;
}

.scoreboard .scoreboard-judge-indicator {
	font-size: 4vw;
}

.scoreboard .scoreboard-score {
	text-align:center;
	font-size:30vw;
	vertical-align:middle;
	bottom:10%;
	width:100%;
	margin-right:auto;
	margin-top:auto;
	text-shadow: 8px 8px 15px #000;
	@include text-shadow(#000 8px 8px 15px);
	//position: absolute;
}

.scoreboard .scoreboard-score-highlight {
	@include text-shadow($brand-success 8px 8px 15);
	color: #0F0;
}


.scoreboard .scoreboard-penalty {
	text-align:center;
	vertical-align:bottom;
	font-size:4vw;
	height:40px;
	padding: 0 3%;
	bottom:4vw;
	width:100%;
	margin-right:auto;
	margin-top:auto;
	position: relative;
	font-style:italic;
	color:orange;
	font-family:'courier new';
}

.scoreboard .scoreboard-player {
	font-size:4vw;
	vertical-align:bottom;
	text-shadow: 8px 8px 9px #000;
	display:box;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
	margin-bottom:0%;
}

.scoreboard .scoreboard-mark {
	height: 8vw;
	width: 6vw;
}



@mixin scoreboard-score-zone {
	width:100%;
	height:50vh;
	min-height:50%;
	padding-top:10%;
	background-color: rgba(0, 0, 0, 0);
	border: 2px black solid;
	text-align: center;
	vertical-align: middle;
	&:active {
		background-color: rgba(0, 0, 0, 0.5);
	}
}


.scoreboard-judge  .scoreboard-score-zone-full {
	@include scoreboard-score-zone;
	height:100vh;
}

.scoreboard-judge .scoreboard-score-zone-top {
	@include scoreboard-score-zone;
	height:45vh;
}


.scoreboard-judge .scoreboard-score-zone-bottom {
	@include scoreboard-score-zone;
	height:55vh;
}


.scoreboard-judge .scoreboard-left {
	@include background(linear-gradient(red, black));
	float:left;
	width:50%;
	min-height:100%;
	text-align:left;
}

.scoreboard-judge .scoreboard-right {
	@include background(linear-gradient(blue, black));
	float:left;
	width:50%;
	min-height:100%;
	text-align:right;
}


.registered-overlay {
	position:absolute;
	bottom: 0px;
	height: 50px;
	min-height:50px;
	width:100%;
	text-align:center;
	pointer-events:none;
}

.notregistered-overlay {
	position:absolute;
	top: 0px;
	height: 100%;
	min-height:100%;
	width:100%;
	text-align:center;
	vertical-align:middle;
	background-color: rgba(0, 0, 0, 0.5);
}




