BODY {
	 	height:100%;
 	width:100%;
 	padding:0;
 	margin:0;
 	overflow: hidden;
}

DIV {
	position:relative;
}
.displaychong {
	color: white;
	background: -webkit-linear-gradient(top, blue 50%, black);
	background: linear-gradient(top, blue 50%, black);
	width:50%;
	height:100%;
	float:left;
	position:relative;
}

.displaychong:active {
	color: white;
	background: -webkit-linear-gradient(top, #55f 50%, #222);
	background: linear-gradient(top, #55f 50%, #222);
	width:50%;
	height:100%;
	float:left;
	position:relative;
}

 .displayhong {
	color: white;
	background: -webkit-linear-gradient(top, red 50%, black);
	background: linear-gradient(top, red 50%, black);
 	width:50%;
 	height:100%;
 	float:left;
 	position:relative;
}

 .displayhong:active {
	color: white;
	background: -webkit-linear-gradient(top, #f55 50%, #222);
	background: linear-gradient(top, #f55 50%, #222);
 	width:50%;
 	height:100%;
 	float:left;
 	position:relative;
}

.displayscorecontainer{
	
	height:100%;
}
.displayscore {
	width:50%;
	height:100%;
	 margin-left: auto ;
  margin-right: auto ;
  float:left;
  margin-top:-2%;
  
}

.displayinfo {
  width: 25% ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 0 ;
  margin-bottom: 0 ;
  color:white;
  background: -webkit-linear-gradient(top, black, #777 90%);
	background: linear-gradient(top, black, #777 90%);
  /*display:flex;*/
  text-align:center;
	top:-5;
	padding-top:1%;
	text-shadow: 4px 4px 8px #999;
	box-shadow: 8px 8px 15px #000;
}

.displaywinner {
	
	padding-top:15%;
	margin-left: auto ;
  	margin-right: auto ;
  	text-shadow: 6px 6px 8px #333;
  	color:#fff;
	text-align:center;
	pointer-events:none;
	opacity:0;
	
	background:rgba(0,0,0,0.6);
	position:absolute;
	left:0;
	top:-10;
	width:100%;
	height:70%;
	
}

.displaylogo {

	background-repeat: no-repeat;
	background-image:url("/web/images/displaylogo.png");
	margin-left: auto ;
  	margin-right: auto ;
  	pointer-events:none;
 
 	top:100%;
  	
}

.biground {
	font-size:30px;	
	width:100%;
}
.bigroundclock {
	font-size:60px;	
	width:100%;
}

.bigbreakclock {
	height:100%;
	font-size:40px;	
	width:100%;
}

.biginjuryclock {
	height:20%;
	opacity:0;
	
	 width: 25% ;
  height: 20%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 2% ;
  margin-bottom: 0 ;
  color:yellow;
  background: -webkit-linear-gradient(top, black, #777 90%);
	background: linear-gradient(top, black, #777 90%);
  display:flex;
  text-align:center;
	top:44%;
	font-size:40px;	
	text-shadow: 4px 4px 8px #999;
	box-shadow: 8px 8px 15px #000;
	
	dsiaply:none;
}

.bigpauseclock {
  width: 25% ;
  opacity:0;
  height: 20%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 2% ;
  margin-bottom: 0 ;
  color:black;
  background: -webkit-linear-gradient(top, white, #777 90%);
	background: linear-gradient(top, white, #777 90%);
  display:flex;
  text-align:center;
	top:44%;
	
	text-shadow: 4px 4px 8px #999;
	box-shadow: 8px 8px 15px #000;
	display:none;
}




.displaypoints {
	text-align:center;
	font-size:250px;
	vertical-align:middle;
	top:20%;
	width:100%;
	margin-right:auto;
	margin-top:auto;

	
	text-shadow: 8px 8px 15px #000;
	position: absolute;
}

.displaypenalty {
	text-align:center;
	vertical-align:bottom;
	font-size:30px;
	height:40px;
	padding: 0 3%;
	bottom:10%;
	width:100%;
	margin-right:auto;
	margin-top:auto;
	position: absolute;
	
	
	font-style:italic;
	
	color:orange;
	font-family:'courier new';
	
}

.displayname {
	text-align:center;
	font-size:30px;
	vertical-align:bottom;
	text-shadow: 8px 8px 9px #000;
	display:box;
	margin-left:10%;
	margin-right:10%;
	margin-top:5%;
	margin-bottom:0%;
}