

<table class="table">
  <tr>
    <td colspan="2">
      <button type="button" ng-click="pauseResume($event)" class="btn btn-lg btn-default">Start / Stop</button>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <button type="button" ng-click="soundhorn($event)" class="btn btn-lg btn-default">Sound Horn</button>
    </td>
  </tr>

  <tr>
    <td>
      <button type="button" ng-click="points($event, 1, 1)" class="btn btn-lg btn-primary">Score +</button>
      <button type="button" ng-click="points($event, 1, -1)" class="btn btn-lg btn-primary">-</button>
    </td>
    <td>
      <button type="button" ng-click="points($event, 2, -1)" class="btn btn-lg btn-danger">-</button>
      <button type="button" ng-click="points($event, 2, 1)" class="btn btn-lg btn-danger">Score +</button>
    </td>
  </tr>

  <tr>
    <td>
      <button type="button" ng-click="penalties($event, 1, 1)" class="btn btn-lg btn-primary">Penalty +</button>
      <button type="button" ng-click="penalties($event, 1, -1)" class="btn btn-lg btn-primary">-</button>
    </td>
    <td>
      <button type="button" ng-click="penalties($event, 2, -1)" class="btn btn-lg btn-danger">-</button>
      <button type="button" ng-click="penalties($event, 2, 1)" class="btn btn-lg btn-danger">Penalty +</button>
    </td>
  </tr>

  <tr>
    <td>
      <button type="button" ng-click="round($event, 1)" class="btn btn-sm btn-default">Round +</button>
    </td>
    <td>
      <button type="button" ng-click="round($event, -1)" class="btn btn-sm btn-default">Round -</button>
    </td>
  </tr>


  <tr>
    <td>
      <button type="button" ng-click="reset($event)" class="btn btn-lg btn-default">Reset Match</button>
    </td>
    <td>
      <button type="button" ng-click="edit($event)" class="btn btn-lg btn-default">Edit Match</button>
    </td>
  </tr>




