
<h1>TKD Score</h1>

<button type="button" ng-click="onAdd($event)">Add</button>
<div class="container-fluid">

	<table class="table table-hover">
	<thead>
		<tr>
			<th>Match Id</th>
			<th>Match Id</th>
			<th>Hong</th>
			<th>Chong</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in matchList" class="row" ng-click="onDetail($event, row)">
			<td>
				{{row._id}}
			</td>
			<td>	
				{{row.player1}}
			</td>
			<td>	
				{{row.player2}}
			</td>
			<td>
				<button ng-click="onDetail($event, row)" class="btn btn-primary btn-md">
				<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<button ng-click="onRemove($event, row)" class="btn btn-danger btn-md">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
	</table>
</div>
