<div class="scoreboard-mini">
	<div class="row">
		<div class="col-md-4 scoreboard-break">
			<div ng-show="timer.breakTimeMS < match.breakTimeMS" ng-bind="timer.breakTimeMS | formatTime:true">

			</div>
		</div>

		<div class="col-md-4 scoreboard-round" ng-bind="timer.roundTimeMS | formatTime:true">

		</div>

		<div class="col-md-4 scoreboard-pause" ng-show="timer.pauseWatchMS > 0" ng-bind="timer.pauseWatchMS | formatTime:false">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-5 scoreboard-penalty" ng-bind-html="match.player1Penalties | formatPenalties">
		</div>

		<div class="col-xs-2 scoreboard-round" ng-bind="match.round">
		</div>

		<div class="col-xs-5 scoreboard-penalty" ng-bind-html="match.player2Penalties | formatPenalties">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 scoreboard-left scoreboard-score" ng-bind="match.player1Points">
		</div>

		<div class="col-xs-6 scoreboard-right scoreboard-score" ng-bind="match.player2Points">
		</div>
	</div>
</div>
