

	

	<div class="row">
		<div class="col-sm-6">
			Match ID
		</div>
		<div class="col-sm-6">
			{{matchEditorVm.match.id}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hong
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.player1" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.player1 || 'No Name'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Chong
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.player2" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.player2 || 'No Name'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Rounds
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.numberOfRounds" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.numberOfRounds || 'Default'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Round Time
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.roundLengthMS" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.roundLengthMS || 'Default'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Break Time
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.breakLengthMS" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.breakLengthMS || 'Default'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Num Judges Agree
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.agree" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.agree || 'Default'}}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judge Score Timeout
		</div>
		<div class="col-sm-6">
			<span class="h4" editable-text="matchEditorVm.match.scoreTimeout" buttons="no" onaftersave="matchEditorVm.save()">{{matchEditorVm.match.scoreTimeout || 'Default'}}</span>
		</div>
	</div>
	


	



