






<h1>TKD Score</h1>

<button type="button" class="btn btn-lg btn-primary" ng-click="matchListVm.newMatch()">Add</button>
<div class="container-fluid">

	<table class="table table-hover">
	<thead>
		<tr>

			<th>Match Id</th>
			<th>Match Number</th>
			<th>Hong</th>
			<th>Chong</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in matchListVm.matches" ng-click="matchListVm.openEdit(row); $event.stopPropagation();">
			<td>
				{{row.id}}
			</td>
			<td>
				{{row.number}}
			</td>
			<td>	
				{{row.player1}}
			</td>
			<td>	
				{{row.player2}}
			</td>
			<td>
				
				<button ng-click="matchListVm.gotoMaster(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip="Match Controller" tooltip-placement="top">
				<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</button>
				<button ng-click="matchListVm.gotoScoreboard(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip-placement="top">
				<span class="glyphicon glyphicon-eye-open"  tooltip="Scoreboard"></span>
				</button>
				<button ng-click="matchListVm.gotoJudge(row); $event.stopPropagation();" class="btn btn-primary btn-md" tooltip="Judge Score Controller" tooltip-placement="top">
				<span class="glyphicon glyphicon-hand-up"></span>
				</button>

				<button ng-click="matchListVm.destroy(row); $event.stopPropagation();" class="btn btn-danger btn-md" tooltip="Delete match" tooltip-placement="top">
				<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
	</table>
</div>

