 


	<div class="row">
		<div class="col-sm-6">
			Match ID
		</div>
		<div class="col-sm-6">
			{{matchEditorVm.match.id}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Match Number
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.number" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.player1" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Chong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.player2" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Rounds
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.numberOfRounds" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Round Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.roundLengthMS" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Break Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.breakLengthMS" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>


	<div class="row">
		<div class="col-sm-6">
			Novice Match
		</div>
		
		<div class="col-xs-6">
			<input type="checkbox" aria-label="..." class="checkbox" ng-model="matchEditorVm.match.novice" ng-change="matchEditorVm.save()">
		</div>
	</div>


	<button class="btn btn-lg btn-primary btn-block" ng-click="matchEditorVm.save(); $parent.closeThisDialog()">Save</button>
	


	



