

	

	<div class="row">
		<div class="col-sm-6">
			Match ID
		</div>
		<div class="col-sm-6">
			{{matchEditorVm.match.id}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Match Number
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.number" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Hong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.player1" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Chong
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.player2" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Rounds
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.numberOfRounds" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Round Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.roundLengthMS" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Break Time
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.breakLengthMS" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Num Judges Agree
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.agree" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judge Score Timeout
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="matchEditorVm.match.scoreTimeout" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Show Judge Indicators
		</div>
		<div class="col-sm-6">
			<input type="checkbox" aria-label="..." class="btn btn-default" ng-model="matchEditorVm.match.showIndicators" ng-change="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Points
		</div>
		<div class="col-sm-6">
			HT <input type="text" class="form-control" ng-model="matchEditorVm.match.pointsHeadTurning" buttons="no" ng-blur="matchEditorVm.save()">
			H <input type="text" class="form-control" ng-model="matchEditorVm.match.pointsHead" buttons="no" ng-blur="matchEditorVm.save()">
			BT <input type="text" class="form-control" ng-model="matchEditorVm.match.pointsBodyTurning" buttons="no" ng-blur="matchEditorVm.save()">
			B <input type="text" class="form-control" ng-model="matchEditorVm.match.pointsBody" buttons="no" ng-blur="matchEditorVm.save()">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			Judges
		</div>
		<div class="col-sm-6">
			<div ng-show="matchEditorVm.match.judge1">
				1 <button class="btn btn-danger btn-sm" ng-click="matchEditorVm.removeJudge(1)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div ng-show="matchEditorVm.match.judge2">
				2 <button class="btn btn-danger btn-sm" ng-click="matchEditorVm.removeJudge(2)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div ng-show="matchEditorVm.match.judge3">
				3 <button class="btn btn-danger btn-sm" ng-click="matchEditorVm.removeJudge(3)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div ng-show="matchEditorVm.match.judge4">
				4 <button class="btn btn-danger btn-sm" ng-click="matchEditorVm.removeJudge(4)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
	</div>

	<button class="btn btn-lg btn-primary btn-block" ng-click="matchEditorVm.save(); $parent.closeThisDialog()">Save</button>
	


	



